[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
tensorflow = ">=1.7"
tensorflow-hub = "*"
jupyterlab = "*"
numpy = "*"
nltk = "*"
flask-cors = "*"
gensim = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.6"
